.Student-login
{
    text-align: center;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../../../images/App-image1.jpg);
  background-size: cover;
  background-position: center;

  
}

.Login-form
{
    /* width: 100%; */
    max-width: 400px;
    /* padding: 15px; */
    margin: auto;
    text-align: left;
}
.Student-login  h1
{ 
    color: #fff;
    font-size: 50px; 
}

.Student-login h3
{
    color:#fff;
    font-size: 40px; 

}
/* .welcome
{
    text-align: center;
} */